<div class="gn-logo"></div>

<div class="containerSessions">
  <h1>Ingresa a goninis</h1>
  <div class="wrapperSessions">
    <hr>
    <%= form_tag do %>    
      <div class="field">
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div class="field last">
        <%= submit_tag "" %>
      </div>    
    <% end %>
    <hr class="bottom">
  </div>

  <div class="field">
    <%= link_to "¿Nuevo en goninis?", new_user_path %>
  </div>
</div>