<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Felicidades <%= @user.name %>!</h1>
    <p>
      ¡La tarea <%= @cat_name %> te ha sido asignada y recibirás <%= @job.offer %>!<br/><br/>
      Estos son los datos de contacto:<br/><br/>
      <table border="1">
        <th>
          Dirección
        </th>
        <th>
          Referencias
        </th>
        <th>
          Fecha
        </th>
        <tr>
          <td><%= @job.address %></td>
          <td><%= @job.location_ref %></td>
          <td><%= @job.when.in_time_zone("CST") %></td>
        </tr>
      </table><br/><br/>
      <p>Los detalles de la tarea son:</p>
      <table border="1">
        <th>Plantas</th>
        <th>Pisos</th>
        <th>Cuartos</th>
        <th>Baños</th>
        <th>¿Traer material para realizar la tarea?</th>
        <th>Notas adicionales</th>
        <tr>
          <td><%= @job.level %></td>
          <td><%= @job.floor %></td>
          <td><%= @job.room %></td>
          <td><%= @job.bathroom %></td>
          <td><% if @job.material == true %>SI<% else %>NO<% end %></td>
          <td><%= @job.notes %></td>
        </tr>
      </table><br/><br/>
      También puedes ver la ubicación en el siguiente <a href="https://maps.google.com.mx/maps?q=18.92187618976372,+-98.3935546875" target="_blank">mapa</a>.
    </p>
    <p>
      Si deseas declinar esta oferta puedes hacerlo dando click en el siguiente link: <%= @url %>.
    </p>
    <p>¡Gracias por ser parte de goninis!</p>
  </body>
</html>