<section id="instructions">
  <div class="wrapper">
    <div class="clickable icon pin">
      <a href="#">&nbsp;</a>
    </div>
    <h2>Publica tu pendiente o proyecto</h2>
  </div>
</section>
<section id="categories">
  <div class="clickable home service-icon"><%= link_to 'Home', new_job_path %></div>
  <div class="submenu home"><%= link_to '', new_job_path %></div>
  <div class="clickable business service-icon"><%= link_to '', new_job_path %></div>
  <div class="submenu business"><%= link_to '', new_job_path %></div>
  <div class="clickable pro service-icon "><%= link_to '', new_job_path %></div>
  <div class="submenu pro"><%= link_to '', new_job_path %></div>
  <div class="clickable temp service-icon"><%= link_to '', new_job_path %></div>
  <div class="submenu temp"><%= link_to '', new_job_path %></div>
</section>
<section id="pager">
  <div class="clickable other-task">
    <a href="#">&nbsp;</a>
  </div>
</section>