<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!--[if !IE]> --><div class="notIE"><!-- <![endif]-->
  <label class="category-title" />
  <%= f.collection_select :job_category_id, JobCategory.all, :id, :title, {}, {:class => 'category-title'} %>
  <!--[if !IE]> --></div> <!-- <![endif]-->
  <section>
    <div class="icon levels">&nbsp;</div>
    <div class="field">
      <%= f.label "Nivel de limpieza" %>
      <!--[if !IE]> --><div class="notIE"><!-- <![endif]-->
      <label />
      <%= f.collection_select :level, Level.all, :id, :title, {:include_blank => 'Nivel de limpieza'} %>
      <!--[if !IE]> --></div> <!-- <![endif]-->
    </div>
    <div class="field">
      <%= f.label "Tamaño del hogar" %>
      <!--[if !IE]> --><div class="notIE"><!-- <![endif]-->
      <label />
      <%= f.collection_select(:floor, Floor.all, :id, :title, {:include_blank => 'Número de pisos'}) %>
      <!--[if !IE]> --></div> <!-- <![endif]-->
      <!--[if !IE]> --><div class="notIE"><!-- <![endif]-->
      <label />
      <%= f.collection_select(:room, Room.all, :id, :title, {:include_blank => 'Número de dormitorios'}) %>
      <!--[if !IE]> --></div> <!-- <![endif]-->
      <!--[if !IE]> --><div class="notIE"><!-- <![endif]-->
      <label />
      <%= f.collection_select(:bathroom, Bathroom.all, :id, :title, {:include_blank => 'Número de baños'}) %>
      <!--[if !IE]> --></div> <!-- <![endif]-->
    </div>
    <div class="field">
      <%= f.radio_button :material, true %> Tengo todos los artículos de limpieza en casa<br/>
      <%= f.radio_button :material, false %> El handy debe traer material de limpieza
    </div>
    <div class="field">
      <div class="show" href="#">Deseo añadir notas adicionales</div>
      <%= f.text_area :notes, {:placeholder => "Agrega notas adicionales aquí", :class => 'hidden' } %>
    </div>
  </section>
  <section>
    <div class="icon map">&nbsp;</div>
    <div class="field">
      <%= f.label "Correo electrónico de contacto" %>
      <%= f.text_field :contact, {:placeholder => User.find_by_id(session[:user_id]).email, :class => 'email'} %>
    </div>
    <div class="field">
      <%= f.text_area :address, {:placeholder => "Ubicación (calle y número, colonia, delegación)"} %>
      <small>La dirección completa solo se comparte con el Handy asignado.</small>
    </div>
    <div class="field">
      <div class="show" href="#">Indicar en mapa</div>
      <div id="map-canvas"></div>
      <%= f.hidden_field :latlong, :value => "19.2644,-99.6569" %>
      <%= f.hidden_field :status, :value => 1 %>
    </div>
  </section>
  <section>
    <div class="icon calendar">&nbsp;</div>
    <div class="field when">
      <%= f.label 'Requiero que la limpieza se lleve a cabo:' %>
      <%= f.datetime_select :when %>
    </div>
  </section>
  <section>
    <div class="icon money">&nbsp;</div>
    <div class="field">
      <%= f.label '¿Cuánto estás dispuesto a pagar por esta tarea?' %><br/>
      <%= f.text_field :offer, {:placeholder => 'Oferta promedio: $150.00 - $300.00'} %>
      <small>El pago se hace hasta que la tarea ha sido completada.</small>
    </div>
  </section>
  <section>
    <div class="icon edit">&nbsp;</div>
    <div class="field">
      <%= f.check_box :private %>Esta tarea es privada
    </div>
    <div class="field">
      <%= f.radio_button :auto_assign, false %>Asignar al Handy que ofrezca mejor costo<br/>
      <%= f.radio_button :auto_assign, true, {checked: true}  %>Deseo asignar el Handy
    </div>
  </section>
  <div class="actions">
    <%= f.submit "" %>
  </div>
<% end %>
