<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= collection_select(:job, :job_category, JobCategory.all, :id, :title) %>
  <hr />
  <div class="field">
    <%= f.label "Nivel de limpieza" %><br>
    <%= collection_select(:job, :level, Level.all, :id, :title, {:include_blank => 'Nivel de limpieza'}) %>
  </div>
  <div class="field">
    <%= f.label "Tamaño del hogar" %><br>
    <%= collection_select(:job, :floor, Floor.all, :id, :title, {:include_blank => 'Número de pisos'}) %>
  </div>
  <div class="field">
    <%= collection_select(:job, :room, Room.all, :id, :title, {:include_blank => 'Número de dormitorios'}) %>
  </div>
  <div class="field">
    <%= collection_select(:job, :bathroom, Bathroom.all, :id, :title, {:include_blank => 'Número de baños'}) %>
  </div>
  <div class="field">
    <%= f.radio_button :material, true %> Tengo todos los artículos de limpieza en casa
    <%= f.radio_button :material, false %> El handy debe traer material de limpieza
  </div>
  <hr />
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, {:placeholder => "Ubicación (calle y número, colonia, delegación)"} %>
    <small>La dirección completa solo se comparte con el Handy asignado.</small>
  </div>
  <hr />
  <div class="field">
    <%= f.label 'Requiero que la limpieza se lleve a cabo:' %><br>
    <%= f.datetime_select :when %>
  </div>
  <hr />
  <div class="field">
    <%= f.label '¿Cuánto estás dispuesto a pagar por esta tarea?' %><br>
    <%= f.text_field :offer, {:placeholder => 'Oferta promedio: $150.00 - $300.00'} %>
    <small>El pago se hace hasta que la tarea ha sido completada.</small>
  </div>
  <hr />
  <div class="field">
    <%= f.label 'Esta tarea es privada' %><br>
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <%= f.radio_button :auto_assign, false %>Asignar al Handy que ofrezca mejor costo
    <%= f.radio_button :auto_assign, true %>Deseo asignar el Handy
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
