<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/assets/pepper-ginder-custom.css" />
<script type="text/javascript" src="/assets/jquery-ui.multidatespicker.js"></script>
<div id="gn-new-job">
  <div id="container-form" class="container-form columns">
    <header class="gn-form-header">
      <form method="GET" action="/jobs/new">
        <!--[if !IE]> --><div class="notIE"><!-- <![endif]-->
        <div class="icon category <%= @cls %>">
          <label class="category-title" />
          <select id="job_category_id" class="category-title" name="form_id">
              <% JobCategory.all.each do |category| %>
               <option value="<%= category.id %>" <%=  (Integer(@form_id) == Integer(category.id))? "selected":""  %> ><%=  category.title %></option>        
              <% end %>
          </select>    
        </div>
          <%= button_to '', new_job_path, class:'button change-category', id: 'gn-change-category' %>
        </form>
      <!--[if !IE]> --></div> <!-- <![endif]-->
    </header>
    <%= render(partial: "jobs/forms/"+@form_name)  %>
  </div>
  <%= render(partial: "jobs/forms/sidebar")  %>
</div>