<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Nombre<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Email<br>
    <%= f.text_field :email %>
    <%= f.hidden_field :role_id, :value => 3 %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    Repite tu password<br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Crear cuenta" %>
    <%= link_to 'Cancelar', tasks_path %>
  </div>
<% end %>
