<%= form_for(@preference) do |f| %>
  <% if @preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
      <% @preference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :notification_category %><br>
    <%= f.text_field :notification_category %>
  </div>
  <div class="field">
    <%= f.label :check %><br>
    <%= f.text_field :check %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
