<h1>Listing preferences</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Notification category</th>
      <th>Check</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @preferences.each do |preference| %>
      <tr>
        <td><%= preference.user.name %></td>
        <td><%= preference.notification_category.notification %></td>
        <td><%= preference.check %></td>
        <td><%= link_to 'Show', preference %></td>
        <td><%= link_to 'Edit', edit_preference_path(preference) %></td>
        <td><%= link_to 'Destroy', preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preference', new_preference_path %>
