<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @preference.user %>
</p>

<p>
  <strong>Notification category:</strong>
  <%= @preference.notification_category %>
</p>

<p>
  <strong>Check:</strong>
  <%= @preference.check %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
