<!DOCTYPE html>
<html>
<head>
  <title>goninis | Beta privado</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'https://www.google.com/jsapi' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/assets/pepper-ginder-custom.css" />
  <script type="text/javascript" src="/assets/jquery-ui.multidatespicker.js"></script>
</head>
<body class='<%= controller.controller_name %>'>
  <div class="container">
    <%= render(partial: "shared/header") %>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
    <%= render(partial: "shared/footer") %>
  </div>
</body>
</html>
